username=$USER

if [[ "${username:0:3}" == "plg" ]]; then
  source_env_if_exists ./.envrc.ares
else
  source_env_if_exists ./.envrc.dev
fi

export MY_PARTITION="plgrid"

export MY_GRANT_LSC="plglscclass23"
export MY_GRANT_MASTER="plgjobshop"

# Use LSC as long as possible
export MY_GRANT=${MY_GRANT_LSC}
export MY_GRANT_RES_CPU="${MY_GRANT}-cpu"

# env_vars_required MY_GRANT MY_GRANT_RES_CPU MY_PARTITION
# env_vars_required MY_MASTER_REPO MY_SCRATCH MY_GROUPS_STORAGE MY_USERNAME MY_ECDK MY_SOLVER MY_BIN MY_INSTANCE_METADATA_FILE MY_INSTANCES_DIR

