.venv/
__pycache__/
test.log
output.csv
output/
run.sh
*local.*
*.local
instances/
data/solutions
!data/instances/
data/instances/**/Taillard_specification/
!data/instances-mock
!data/metadata
!src/ecdk/data/
.DS_Store
bin/
*.out
dist/
