.venv/
__pycache__/
test.log
output.csv
output/
run.sh
*local.*
*.local
instances/
data/solutions
!data/instances/
data/instances/**/Taillard_specification/
!data/instances-mock
!data/metadata
!src/ecdk/data/
zips/
.DS_Store
bin/
*.out
!raw.out/
raw.out/**
!processed.out/
processed.out/**
!compare.out/
compare.out/**
!.gitkeep
dist/

